$rosado: #CC6D92;
$gris:#D7D7D7;
$facebook: #0C4DAA;
$twitter : #21C7ED;
#problema{
  @include background-line;
  text-align: center;
  color: black;
  padding-top: 100px;
  img{
    width: 60%;
    max-width: 600px;
  }
  .text1{
    font-family: Ebrima-Regular;
    font-size: 26px;
    background-color: white;
    padding-top: 20px;
  }
  .text2{
    font-family: Ebrima-Bold;
    line-height: 60px;
    margin: 15% 0 6%;
    background-color: white;
    padding-top: 20px;
    .line1{
      font-size: 5vmin;
    }
    .line2{
      font-size: 8vmin;
    }
  }
}
#datos{
  background: url('../img/Iconos_BannerDatos.png');
  background-repeat: no-repeat;
  background-size: 100%;
  img{
    margin: auto;
    width: 50% !important;
  }
  .owl-nav{
    position: absolute;
    top: 25%;
    width: 100%;
    .owl-prev{
      width: 60px;
      float: left;
      background: transparent !important;
      content: url("../img/flechaIzquierda.png");
      }
    }
    .owl-next{
      width: 60px;
      float: right;
      background: transparent !important;
      content: url("../img/flechaDerecha.png");
    }
  }
  .owl-dots{
    .owl-dot{
      span{
        background: transparent !important;
        border: 1px solid $rosado;
      }
      &.active{
        span{
          background: $rosado !important;
        }
      }
    }
  }
#iniciativa{
  background: url('../img/BannerIniciativa.png');
  background-repeat: no-repeat;
  @media screen and (max-width: 480px) {
    background-size: initial;
    height:120vw;
  }
  background-size: cover;
  height:67.2vw;
  color: white;
  @include flex-center;
  h2{
    font-family: Ebrima-Bold;
    font-size: 8vmin;
  }
  p{
    font-family: Ebrima-Regular;
  }
}
#taza{
    background: url('../img/taza/Taza.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 31vw;
    margin-top: -20vw;
    padding-top: 7vw;
    height:32vw;
  @media screen and (max-width: 800px){
    margin-top: -14vw;
    height:40vw;
    background-position:26vw;
    .slide-taza{
      img{
        width: 30vw !important;
      }
    }
  }
  @media screen and (max-width: 600px){
    margin-top: 0px;
    height:70vw;
    background-position:9vw;
    .slide-taza{
      img{
        width: 54vw !important;
      }
    }
  }
  .slide-taza{
    img{
      width: 23vw;
      margin: auto;
    }
    .owl-dots{
      display: none;
    }
    .owl-nav{
      position: absolute;
      top: 25%;
      width: 100%;
      .owl-prev{
        width: 60px;
        float: left;
        background: transparent !important;
        content: url("../img/taza/FlechaIzquierda.png");
      }
    }
    .owl-next{
      width: 60px;
      float: right;
      background: transparent !important;
      content: url("../img/taza/FlechaDerecha.png");
    }
  }
}
#chureca{
  @include background-line;
  padding: 70px 0 70px 0;
  color: black;
  img{
    margin-bottom: 30px;
  }
  h2{
    font-size: 40px;
  }
  h2,h3{
    font-weight: bold;
  }
  .somos-chureca{
    margin-bottom: 30px;
  }
  .container{
    background: white;
  }
  .text-center{
    margin: 20px 20px;
    div{
      p{
        border-bottom: 5px solid $rosado;
        height:120px;
        @media screen and (max-width:991px){
          height: 170px;
        }
        @media screen and (max-width:767px){
          height: 170px;
        }
      }
    }
  }
}
#formulario{
  font-family: Ebrima-Bold;
  background: url('../img/BannerContacto.png');
  background-size: cover;
  color: black;
  padding: 80px 20px;
  textarea{
    background-color: $gris;
    &::-moz-placeholder{
      color: $rosado;
    }
    &::-webkit-input-placeholder{
      color: $rosado;
    }
  }
  .btn{
    background: $rosado;
    color: white;
  }
  .row{
    margin: 20px 0 0 0;
  }
  .form-container{
    width: 60%;
    margin: auto;
  }
  .line-height{
    line-height: 20px;
    font-weight: bold;
    h2{
      font-size: 40px;
    }
    p{
     font-size: 25px;
    }
    p:nth-child(3){
      color: $rosado;
    }
  }
}
footer{
  height:30px;
  background: black;
  color: white;
  display: flex;
  span{
    align-self: center;
    margin-left: 20px;
  }
}
#share-section{
  .share-image{
    width: 800px;
  }
  .btn-redes{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    .btn{
      margin: 10px;
    }
    .btn-facebook{
      background-color: $facebook;
      color: white;
    }
    .btn-twitter{
      background-color: $twitter;
      color: white;
    }
  }
}
