html,body{
  background-color: white;
}
header{
  background: url('../img/BannerPrincipal.jpg');
  background-size: cover;
  height:70vw;
  display: flex;
  flex-direction: column;
     .left-top{
      align-self: flex-start;
       max-width: 240px;
       width: 30%;
       margin: 20px 0 0 20px;
    }
    .center-center{
      align-self: center;
      margin-top: 15vw;
    }
    a{
      display: flex;
      justify-content: center;
        img {
          align-self: center;
          max-width: 80px;
          width: 15%;
        }
    }
  }