@mixin flex-center{
  display: flex;
  text-align: center;
  align-items: center;
}
@mixin background-line{
  background: url('../img/Linea_VerticalPunteada.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6px 100%;
}